{% extends "base.html" %}

{% block button %}
    <br>
    <br>
    <br>
    <div class="row" >
      
      <div class="col-md-offset-2 col-md-4 text-right">
         <img src="static/pics/natalie.png" height = "400" style="border:2px solid white" class="img-rounded">
      </div> 
      <div class="col-md-3"> 
          <h4> <br> <br>

            Hello, my name is Natalie Zhaoying Han, I'm a fellow at Insight Data Science.  <br> <br>

            Thanks for visiting my Insight Project Oldio. <br> <br>
            You can find more information from my LinkedIn profile or check out my resume. 
          </h4>
          <a class="btn btn-primary" href="http://www.linkedin.com/in/nataliehan/" target=_blank role="button">My LinkedIn</a>
           <a class="btn btn-primary" href="/static/pics/natalie_resume.pdf" target=_blank role="button">My Resume</a>
      </div>

  

    </div>
    {% endblock %}


