{% extends "base.html" %}

{% block button %}

    <div class="container section-colored">
        <img class="img-responsive" src="static/pics/background.png"/>
        <div class="btn-toolbar text-center">
          <div class='example-countries marginadjustnatalie'>
              <span class="twitter-typeahead" style="position: relative; display: inline-block; ">
              <input class="typeahead tt-query" type="text" placeholder="Music Album Title" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='title' id='title'>
              </span>     
              <div class='btn-group buttonnatalie' style="text-align:center;">
               <button type="button" class="btn-btn-primary btn-lg" id="music">Go</button>
              </div>
            </div> 
            <script>
              $("#music").click(function(){
                var title=$('#title').val();
                window.location.href = "search?musictitle=" + title 
              });
            </script>
            <script>
                $('.example-countries .typeahead').typeahead({
                  name: 'CDtitles_seed',
                  prefetch: 'static/json/CDtitles_seed.json',
                  limit: 10
                });
            </script>
        </div>
    </div><!-- /.container -->

{% endblock %}

{% block images%}
    <div class='posterlist' id='posterlist'> </div>
{% endblock %}

   

  